
@import '~@libs/theme';


.button {

  position: relative;
  display: inline-block;
  min-width: 170px;
  width: 100%;
  background-color: $primary;
  color: $white;
  border-radius: 64px;
  font-family: inherit;
  font-size: 16px;
  font-weight: $f-bold;
  line-height: 22px;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: background 200ms;
  cursor: pointer;
  padding: 0;
  z-index: 2;

  &:hover {

    background-color: rgba(78, 116, 245, .8);
  }

  &.with-icon {

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.in-process {

}

.disabled {

  background: $grey-light;
  border-color: $grey;
  color: $grey;
  cursor: default;

  &:hover {

    background: $grey-light;
    border-color: $grey;
    color: $grey;
  }
}

.text {

  display: inline-block;
  padding: 21px 35px;
}

.spinner {

  position: absolute;
  top: 0;
  right: 200px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
}

.size {

  &--small {

    font-size: 14px;
    line-height: 1;
    border-radius: 100px;
    letter-spacing: .02em;

    .text {
      padding: 18px 35px;
    }
  }

  &--large {

  }
}
