
$mobile: 767px;

$f-regular: normal;
$f-semi-bold: 600;
$f-bold: bold;


$danger:      #F90043 !default;
$warning:     #C08605 !default;
$info:        #FFC542 !default;
$success:     #11CF7F !default;
$primary:     #4E74F5 !default;

$red:         #FB2424 !default;
$grey-light:  #E6E6E6 !default;
$grey:        #999999 !default;
$ghost-white: #F6F8FF !default;
$white:       #FFF !default;
$black:       #000 !default;
