
@import 'src/theme/default.scss';


.wrapper {

  display: flex;
  padding: 24px 0;
}

.content {

  display: flex;
  align-items: center;
  flex: 1 0 auto;
  justify-content: space-between;
}

.left {
  display: flex;
}

.right {

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
}

.control {

  margin-left: 24px;
}