
@import '~@libs/theme';


.wrapper {

  margin: 70px auto 10px;
  max-width: 343px;
  padding: 0;
}

.image {

  margin-bottom: 32px;
}

.header {
  padding: 0 0 24px;
}

.description {

  max-width: 200px;
}