
@import '../../../../../../theme';


.wrapper {

  position: relative;
  display: block;
  border: 1px solid $grey-light;
  background: transparent;
  border-radius: 12px;
  overflow: hidden;

  &.focused {
    border-color: $primary;
  }
}

.input {

  position: relative;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  padding: 18px 20px;
  font-size: 14px;
  font-weight: $f-regular;
  color: $black;
  z-index: 2;
}

.disabled {

 color: $grey;
}

.mode {

  &--danger {
    border-color: $danger;

    .input {

      color: $danger;
    }
  }
}

.placeholder {

  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0;
  z-index: 1;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: $grey-light;
}
